code casting data types

In [3]:
# cast from str to int
str_number = "456"
str_number_to_int = int(str_number)
print("Before:", str_number, ", the data type is", type(str_number))
print("After:", str_number_to_int, ", the data type is", type(str_number_to_int))
type(str_number_to_int)

Before: 456 , the data type is <class 'str'>
After: 456 , the data type is <class 'int'>

int

In [4]:
#cast from int to str
int_number = 123
int_number_to_str = str(int_number)
print("Before:", int_number, ", the data type is", type(int_number))
print("After:", int_number_to_str, ", the data type is", type(int_number_to_str))
type(int_number_to_str)

Before: 123 , the data type is <class 'int'>
After: 123 , the data type is <class 'str'>

str

In [6]:
#cast from int to bool
num_int = 1
num_bool = bool(num_int)
print(num_bool, type(num_bool))

num_int = 0
num_bool = bool(num_int)
print(num_bool, type(num_bool))

True <class 'bool'>
False <class 'bool'>

code comparison operator

In [1]:
#equal to
8 == 8
#not equal to
8 != 9 
#greater than
8 > 7
#less than
8 < 9
#greater than or equal to
8 >= 8
#less than or equal to
8 <= 9

True

code logical operators

In [2]:
a = True
b = False
print(a and b) 
print(a or b)
print(not b)

#logic
5>6 and 6<7

False
True
True

False

code arithmetic operators

In [2]:
e = 8
f = 2

#summation
sum = e + f
print(f"The sum of e with f is: {sum}\n")

#reduction
reduction = e - f
print(f"The reduction of e with f is: {reduction}\n")

#multiplication
multi = e * f
print(f"The multiplication of e with f is: {multi}\n")

#division
div = e / f
print(f"The quotient of e with f is: {div}\n")

#modulo
mod = e % f
print(f"The remainder of e with f is: {mod}\n")

#power
power = e ** f
print(f"The power of e with f is: {power}\n")

The sum of e with f is: 10

The reduction of e with f is: 6

The multiplication of e with f is: 16

The quotient of e with f is: 4.0

The remainder of e with f is: 0

The power of e with f is: 64

code input output

In [3]:
#Input
name = str(input("What is your name : "))
age = int(input("What's your age : "))

print("Name: ", name)
print("Age: ", age)

Name:  al
Age:  12

In [4]:
#Output

# normal print
print('Hi all! I am', name, 'age', age, 'years old')

# format print (f-string)
print(f'Hi all! I am {name} age {age} years old')

# format print (old-style %)
print('Hi all! I am %s age %d years old' % (name, age))

# format output tambahan
print(30 * "=")
print("Temperature Calculator Program")
print(30 * "=")

Hi all! I am al age 12 years old
Hi all! I am al age 12 years old
Hi all! I am al age 12 years old
==============================
Temperature Calculator Program
==============================

code conditionals and excption handling

In [7]:
#If - Else
try:
    your_GPA = float(input("Enter your GPA: "))

    if 4.0 >= your_GPA >= 0.0:
        if 4.0 >= your_GPA >= 3.80:
            print(f"Damn you've got a magna cumlaude with your {your_GPA} GPA")
        elif 3.50 <= your_GPA < 3.80:
            print(f"Cool!! You've got a cumlaude with your {your_GPA} GPA")
        elif 3.00 <= your_GPA < 3.50:
            print(f"You've got a stable GPA tho")
        elif your_GPA < 3.0:
            print(f"You need a stable GPA")
    else:
        print(f"Sorry, your GPA {your_GPA} is out of range and invalid")

except Exception:
    print("Please enter a valid GPA")

You've got a stable GPA tho

In [8]:
#using match case
try:
    status_code = int(input("Enter your status code: "))

    print("Your code means:")
    match status_code:
        case 200:
            print("Success!")
        case 400:
            print("Bad Request")
        case 401:
            print("Unauthorized")
        case 402:
            print("Payment Required")
        case 403:
            print("Forbidden")
        case 404:
            print("Not Found")
        case 500:
            print("Internal Server Error")
        case _:
            print("Unknown status code")

except Exception:
    print("Please enter a valid status code")

Your code means:
Unknown status code

In [9]:
#Ternary
a = 3
b = "Even Numbers" if a % 2 == 0 else "Odd Numbers"
print("Ternary result:", b)

Ternary result: Odd Numbers

In [5]:
#using while loop
for i in range(5):
    print(i)
    
#for loop with range
for i in range(5):
    print("Data science is easy!")

print(50 * "=")

for i in range(1, 5, 2):
    print("Data science is easy!")

0
1
2
3
4
Data science is easy!
Data science is easy!
Data science is easy!
Data science is easy!
Data science is easy!
==================================================
Data science is easy!
Data science is easy!

In [6]:
word = "I want to master data science"

for letter in word:
    print(letter)

I

w
a
n
t

t
o

m
a
s
t
e
r

d
a
t
a

s
c
i
e
n
c
e

In [10]:
#you can use it with enumerate function
for m, n in enumerate(word):
    print(f"Index {m}. {n}")

Index 0. I
Index 1.
Index 2. w
Index 3. a
Index 4. n
Index 5. t
Index 6.
Index 7. t
Index 8. o
Index 9.
Index 10. m
Index 11. a
Index 12. s
Index 13. t
Index 14. e
Index 15. r
Index 16.
Index 17. d
Index 18. a
Index 19. t
Index 20. a
Index 21.
Index 22. s
Index 23. c
Index 24. i
Index 25. e
Index 26. n
Index 27. c
Index 28. e

In [11]:
#it can go backward
for i in range(5,1,-1):
    print("I want big data's")

I want big data's
I want big data's
I want big data's
I want big data's

In [12]:
#Keyword control
for i in range(5):
    if i == 2:
        continue   # skip theis loop when i is equal to 2
    if i == 4:
        break      # stops the loop when i is equal to 4
    print(i)

0
1
3

In [13]:
#Using while loop
count = 0
while count < 4:
    print("Keep the spirits up interns!")
    count += 1

Keep the spirits up interns!
Keep the spirits up interns!
Keep the spirits up interns!
Keep the spirits up interns!